/* Generic Styling for CodePen display */
.container {
  padding: 70px;
}

/* Social Icon Styling */
/* Matt Stubenhofer -- https://www.github.com/mstub */

.social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.social-wrapper i {
    padding: 0px 10px;
    color: #171717;
    cursor: pointer;
    transition: all ease-in-out 150ms;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
}

.social-wrapper i:hover {
    margin-top: -10px;  
    transform: translate(0, -8);
}

#facebook:hover {
    color: #4867AA;
    text-shadow: 0px 16px 10px rgba(36, 101, 135, 0.3);
}

#twitter:hover {
    color: #1DA1F2;
    text-shadow: 0px 16px 10px rgba(29, 202, 255, 0.3);
}

#instagram:hover {
    color: #8a3ab9;
    text-shadow: 0px 16px 10px rgba(233, 89, 80, 0.3);
}

#eye:hover {
    color: red;
    text-shadow: 0px 16px 10px rgba(25, 8, 17, 0.3);
}

#linkedin:hover {
    color: #0077B5;
    text-shadow: 0px 16px 10px rgba(0, 160, 220, 0.3);
}

#medium:hover {
    color: lime;
    text-shadow: 0px 16px 10px rgba(0, 160, 220, 0.3);
}
#github:hover {
    color: #585858;
    text-shadow: 0px 16px 10px rgba(189, 44, 0, 0.3);
}


#email:hover {
    color: yellow;
    text-shadow: 0px 16px 10px rgba(221, 75, 57, 0.3);
}

a {
    text-decoration: none;
}

/*-- image --*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.img-circle {
    border-radius: 50%;
}